In [29]:
nums=[2,7,11,15]
target = 9

In [32]:
def two_sum(arr: list,k: int):
    hashMap = {}
    for i in range(len(nums)):
        j = k - nums[i]
        if j in hashMap.keys():
            return i,hashMap[j]
        else:
            hashMap[nums[i]] = i
    return False

In [33]:
two_sum(nums,target)

(1, 0)

In [ ]:
str1 = 'Hello World'
hmap = {}

str1 = str1.lower()

for char in str1:
    if char in hmap:
        hmap[char] += 1
    else:
        hmap[char] = 1

for k,v in hmap.items():
    print(k," "|v)

h   1
e   1
l   3
o   2
    1
w   1
r   1
d   1

In [ ]:
arr1 = [7|5|1|10|9]
arr2 = [3|8|2|6|4]

for i in range(len(arr1)):
    for j in range(0|len(arr1)-1):
        if arr1[j] > arr1[j+1]:
            arr1[j]|arr1[j+1] = arr1[j+1]|arr1[j]

for i in range(len(arr2)):
    for j in range(0|len(arr2)-1):
        if arr2[j] > arr2[j+1]:
            arr2[j]|arr2[j+1] = arr2[j+1]|arr2[j]

[1, 5, 7, 9, 10] [2, 3, 4, 6, 8]

In [52]:
lst = [0] * (len(arr1)+len(arr2))
left = 0
right = 0 
index = 0

while (left < len(arr1)) and (right < len(arr2)):
    if arr1[left] < arr2[right]:
        lst[index] = arr1[left]
        left += 1
        index += 1
    else:
        lst[index] = arr2[right]
        right += 1
        index += 1
while left < len(arr1):
    lst[index:] = arr1[left:]
    break

while right < len(arr2):
    lst[index] = arr2[right:]
    break

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [55]:
spark = SparkSession.builder.appName('test').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/27 19:53:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [57]:
my_schema = ['id','name','date']

In [60]:
df = spark.read.format('csv')\
            .option('header','false')\
            .option('schema',my_schema)\
            .option('mode','FAILFAST')\
            .load('/home/mohitkatkar/Documents/mohit.txt')

In [61]:
df.show()

+---+------+----------+
|_c0|   _c1|       _c2|
+---+------+----------+
|  1| Mohit|01-01-2022|
|  2|Katkar|11-11-2022|
|  3| Adesh|12-03-2022|
+---+------+----------+

In [1]:
def checkParenthesis(exper:str):
    stack = []
    for char in exper:
        if char in ['(','{','[']:
            stack.append(char)
        else:
            if not stack:
                return False
            current_char = stack.pop()
            if current_char == '(':
                if char != ')':
                    return False
            if current_char == '[':
                if char != ']':
                    return False
            if current_char == '{':
                if char != '}':
                    return False
    if stack:
        return False
    return True

In [11]:
checkParenthesis('[{}]{({})}()')

True

In [12]:
def checkParenthesis(expr:str):
    stack = []
    hashM = {'}':'{',')':'(',']':'['}

    for char in expr:
        if char in ['(','{','[']:
            stack.append(char)
        
        else:
            if not stack:
                return False
            current_char = stack.pop()

            if hashM[char] != current_char:
                return False
            
    if stack:
        return False
    return True

In [21]:
checkParenthesis('[{}]{({})}()')

True

In [43]:
def instert_num(arr,n):
    index = len(arr)
    for i in range(len(arr)):
        if arr[i] > n:
            index = i
            break
    
    if index == len(arr):
        arr = arr[:index] + [n]
    else:
        arr = arr[:index] + [n] + arr[index:]
    
    return arr

In [45]:
instert_num([3,6,8,12,15],17)

[3, 6, 8, 12, 15, 17]

In [1]:
def is_palindrome(strn:str):
    left = 0 
    right = len(strn) - 1

    while left < right:
        if strn[left] == strn[right]:
            left += 1
            right -= 1
        else:
            return False
    
    return True

In [3]:
is_palindrome('ABB')

False

In [4]:
string = "123a!"

def create_duplicate(s:str):
    new_char = ""
    for char in s:
        new_char = new_char + (char * 2)
    return new_char

In [5]:
create_duplicate(string)

'112233aa!!'

In [10]:
def is_prime(n:int):
    for i in range(2, n//2):
        if n % i == 0:
            return False
    else:
        return True

In [16]:
is_prime(12)

False

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName('sql_test').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/29 15:45:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

25/03/29 15:45:34 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [3]:
data= [(1,'Arul','SQL'),
(1,'Arul','Spark'),
(2,'Bhumica','SQL'),
(2,'Bhumica','Spark')]

schema= ['id','name','course']

In [4]:
df = spark.createDataFrame(data=data,schema=schema)

In [5]:
df.show()

+---+-------+------+
| id|   name|course|
+---+-------+------+
|  1|   Arul|   SQL|
|  1|   Arul| Spark|
|  2|Bhumica|   SQL|
|  2|Bhumica| Spark|
+---+-------+------+

In [9]:
df.createOrReplaceTempView('table')

In [13]:
df2 = spark.sql("""
select id, name, array_join(collect_list(course),',')  as courses
from table group by id, name
""")

In [14]:
df2.show()

+---+-------+---------+
| id|   name|  courses|
+---+-------+---------+
|  1|   Arul|SQL,Spark|
|  2|Bhumica|SQL,Spark|
+---+-------+---------+

In [16]:
df2.createOrReplaceTempView('table2')

In [17]:
spark.sql("""
select id, name, explode(split(courses,',')) as course from table2
""").show()

+---+-------+------+
| id|   name|course|
+---+-------+------+
|  1|   Arul|   SQL|
|  1|   Arul| Spark|
|  2|Bhumica|   SQL|
|  2|Bhumica| Spark|
+---+-------+------+

In [18]:

data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17)]

schema=['id','name','sal','mngr_id']

manager_df= spark.createDataFrame(data=data,schema=schema)
manager_df.createOrReplaceTempView("manager_tbl")

In [19]:
manager_df.show()

+---+------+-----+-------+
| id|  name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
+---+------+-----+-------+

In [27]:
spark.sql("""
with cte as(
select distinct mngr_id, avg(sal) over(partition by mngr_id) as avg_sal from manager_tbl
)
select m.name as manager_name, c.mngr_id as manager_id, c.avg_sal
from cte c inner join manager_tbl m
on c.mngr_id = m.id
""").show()

+------------+----------+-------+
|manager_name|manager_id|avg_sal|
+------------+----------+-------+
|        Anil|        10|90000.0|
|      Rajesh|        16|65000.0|
|       Raman|        17|62500.0|
|         Sam|        18|53750.0|
+------------+----------+-------+

In [29]:
spark.sql("""
with cte as(
select mngr_id, avg(sal) as avg_sal from manager_tbl
group by mngr_id
)
select m.name as manager_name, c.mngr_id as manager_id, c.avg_sal
from cte c inner join manager_tbl m
on c.mngr_id = m.id
""").show()

+------------+----------+-------+
|manager_name|manager_id|avg_sal|
+------------+----------+-------+
|        Anil|        10|90000.0|
|      Rajesh|        16|65000.0|
|       Raman|        17|62500.0|
|         Sam|        18|53750.0|
+------------+----------+-------+

In [30]:
list1 = [1,2,3,4,5]
list2 = list1
list3 =list1.copy()

In [31]:
list1.append(6)

In [32]:
list2

[1, 2, 3, 4, 5, 6]

In [33]:
list3

[1, 2, 3, 4, 5]

In [34]:
list3.append(7)

In [35]:
list2

[1, 2, 3, 4, 5, 6]

In [36]:
list1

[1, 2, 3, 4, 5, 6]

In [37]:
list2.append(7)

In [38]:
list1

[1, 2, 3, 4, 5, 6, 7]

In [39]:
list2

[1, 2, 3, 4, 5, 6, 7]

In [42]:
my_dict = {'a':17, 'b':18, 'c':16, 'd':2}

sorted_dict = {}

list_of_sorted_keys = sorted(my_dict, key=my_dict.get)

In [43]:
print(list_of_sorted_keys)

['d', 'c', 'a', 'b']

In [46]:
for i in list_of_sorted_keys:
    sorted_dict[i] = my_dict[i]

In [47]:
print(sorted_dict)

{'d': 2, 'c': 16, 'a': 17, 'b': 18}

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession.builder.appName("test").getOrCreate()

file_path = '/home/mohitkatkar/Documents/file.csv'

my_schema =  StructType([
    StructField("Name",StringType(),True),
    StructField("Department",StringType(),True),
    StructField("Salary",IntegerType(),True)
])

df = spark.read.format('csv')\
        .option('header','true')\
        .option('sep','|')\
        .schema(my_schema)\
        .load(file_path)

In [6]:
df.show()

+--------+----------+------+
|    Name|Department|Salary|
+--------+----------+------+
|    John|     Sales| 35000|
|    Jane| Marketing| 15000|
|   Alice|        IT| 19000|
|Williams|        HR| 50000|
|   Brown|   Finance| 70000|
+--------+----------+------+

In [14]:
df2 = df.filter(col("Salary")<20000)

df3 = df2.withColumn("Bonus",col('Salary')*.1)

df4 = df3.withColumn("Total_Salary",col("Salary")+col("Bonus"))

In [20]:
df5 = df4.withColumnRenamed('Salary',"Employee_Salary")

In [ ]:
df5.write.format('parquet').save("file_path")

+-----+----------+------+------+------------+
| Name|Department|Salary| Bonus|Total_Salary|
+-----+----------+------+------+------------+
| Jane| Marketing| 15000|1500.0|     16500.0|
|Alice|        IT| 19000|1900.0|     20900.0|
+-----+----------+------+------+------------+

In [ ]:
df.withColumn('lastName',when(col('lastName').contains("!"),"").otherwise('lastName'))\
    .withColumn('lastName',when(col('lastName').contains("$"),"").otherwise('lastName'))\
    .withColumn('lastName',when(col('lastName').contains("@"),"").otherwise('lastName'))\
    .withColumn('lastName',when(col('lastName').contains("#"),"").otherwise('lastName'))

In [ ]:
df.withColumn('lastName',regexp_replace(col('lastName'),"[!@#$]",""))

In [47]:
lst=[12,3,27,5,4,9,4]
k = 100

In [35]:

def find_mul(lst,k):
    for i in range(len(lst)):
        for j in range(len(lst)-1):
            x = lst[i]*lst[j]
            if (k/x) in lst[i+2:]:
                return lst[i],lst[j],(k//x)
    return False

In [38]:
find_mul(lst,k)

(12, 3, 5)

In [48]:
def find_mul_hm(lst,k):
    hashMap = {}

    for i in range(len(lst)):
        for j in range(i,len(lst)-1):
            x = lst[i] * lst[j]
            if k/x in hashMap:
                return i,j,hashMap[k//x]
            else:
                hashMap[lst[i]] = i
                hashMap[lst[j]] = j
    return False

In [49]:
find_mul_hm(lst,k)

(3, 3, 4)

In [56]:
def check_anagram(str1,str2):
    hashMap1 = {}
    hashMap2 = {}

    if len(str1) !=  len(str2):
        return False

    for i in range(len(str1)):
        hashMap1[str1[i]] = 1 + hashMap1.get(str1[i],0)

    for i in range(len(str2)):
        hashMap2[str2[i]] = 1 + hashMap2.get(str2[i],0)
    
    if hashMap1 == hashMap2:
        return True
    
    return False

In [59]:
str1 = 'abd'
str2 = 'dcb'
check_anagram(str1,str2)

False